<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="sample.endroad.coroutines">

	<application
		android:name=".application.App"
		android:allowBackup="true"
		android:icon="@mipmap/ic_endroad_logo"
		android:label="@string/app_coroutines_name"
		android:supportsRtl="true"
		android:theme="@style/ThemeSketchpad.SplashTheme">
		<activity
			android:name=".application.SingleActivity"
			android:label="@string/app_coroutines_name"
			android:theme="@style/ThemeSketchpad">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".coroutine.CoroutineActivity"
			android:label="@string/app_coroutines_name"
			android:theme="@style/ThemeSketchpad" />
		<activity
			android:name=".flow.FlowActivity"
			android:label="@string/app_coroutines_name"
			android:theme="@style/ThemeSketchpad" />
	</application>
</manifest>